@{
    ViewData["Title"] = "Home Page";
}

<div class="slider">
    <div class="container">
        <div class="wrapper">
            <div class="myslider swiper">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="item">
                            <div class="image object-cover">
                                <img src="/images/slider/jordan-banner.jpg" alt="">
                            </div>
                            <div class="text-content flexcol">
                                <h4>Shoes Fashion</h4>
                                <h2><span>Come and Get it!</span><br><span>Brand New Shoes</span></h2>
                                <a asp-controller="Home" asp-action="Category" class="primary-button">Shop Now</a>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="item">
                            <div class="image object-cover">
                                <img src="/images/slider/zara-banner.jpg" alt="">
                            </div>
                            <div class="text-content flexcol">
                                <h4>Quick Fashion</h4>
                                <h2><span>Fit Your Wardrobe</span><br><span>With Luxury Items</span></h2>
                                <a asp-controller="Home" asp-action="Category" class="primary-button">Shop Now</a>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="item">
                            <div class="image object-cover">
                                <img src="/images/slider/dg-banner.jpg" alt="">
                            </div>
                            <div class="text-content flexcol">
                                <h4>Quick Offer</h4>
                                <h2><span>Wooden Minimal Sofa</span><br><span>Extra 50% off</span></h2>
                                <a asp-controller="Home" asp-action="Category" class="primary-button">Shop Now</a>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="item">
                            <div class="image object-cover">
                                <img src="/images/slider/nike-banner.jpg" alt="">
                            </div>
                            <div class="text-content flexcol">
                                <h4>Best Deals</h4>
                                <h2>
                                    <span>Home Workout Accessories</span><br><span>Push The Limit</span>
                                </h2>
                                <a asp-controller="Home" asp-action="Category" class="primary-button">Shop Now</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-pagination">
                </div>
            </div>
        </div>
    </div>
</div>


<div class="banners">
    <div class="container">
        <div class="wrapper">
            <div class="column">
                <div class="sectop flexitem">
                    <h2><span>New collection</span></h2>
                    <div class="main-links">
                        <a asp-controller="Home" asp-action="Category" class="view-all">View all<i class="ri-arrow-right-line"></i></a>
                    </div>
                </div>
                <div class="banner flexwrap">
                    <div class="row">
                        <div class="item">
                            <div class="image">
                                <img src="/images/slider/dg-banner.jpg" alt="">
                            </div>
                            <div class="text-content flexcol">
                                <h3>Brutal Sale!</h3>
                                <h4><span>Get the deal in here</span><br>Living Room Chair</h4>
                                <a asp-controller="Home" asp-action="Category" class="primary-button">Shop Now</a>
                            </div>
                            <a asp-controller="Home" asp-action="Category" class="over-link"></a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="item get-gray">
                            <div class="image">
                                <img src="/images/slider/adidas-banner.jpg" alt="">
                            </div>
                            <div class="text-content flexcol">
                                <h3>Brutal Sale!</h3>
                                <h4><span>Discount everyday</span><br>Office Outfit</h4>
                                <a asp-controller="Home" asp-action="Category" class="primary-button">Shop Now</a>
                            </div>
                            <a asp-controller="Home" asp-action="Category" class="over-link"></a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="item get-gray">
                            <div class="image">
                                <img src="/images/slider/jordan-banner.jpg" alt="">
                            </div>
                            <div class="text-content flexcol">
                                <h3>Brutal Sale!</h3>
                                <h4><span>Discount everyday</span><br>Office Outfit</h4>
                                <a asp-controller="Home" asp-action="Category" class="primary-button">Shop Now</a>
                            </div>
                            <a asp-controller="Home" asp-action="Category" class="over-link"></a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="item get-gray">
                            <div class="image">
                                <img src="/images/slider/gucci-banner.jpg" alt="">
                            </div>
                            <div class="text-content flexcol">
                                <h3>Brutal Sale!</h3>
                                <h4><span>Discount everyday</span><br>Office Outfit</h4>
                                <a asp-controller="Home" asp-action="Category" class="primary-button">Shop Now</a>
                            </div>
                            <a asp-controller="Home" asp-action="Category" class="over-link"></a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="item get-gray">
                            <div class="image">
                                <img src="/images/slider/nike-banner.jpg" alt="">
                            </div>
                            <div class="text-content flexcol">
                                <h3>Brutal Sale!</h3>
                                <h4><span>Discount everyday</span><br>Office Outfit</h4>
                                <a asp-controller="Home" asp-action="Category" class="primary-button">Shop Now</a>
                            </div>
                            <a asp-controller="Home" asp-action="Category" class="over-link"></a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="item get-gray">
                            <div class="image">
                                <img src="/images/slider/zara-banner.jpg" alt="">
                            </div>
                            <div class="text-content flexcol">
                                <h3>Brutal Sale!</h3>
                                <h4><span>Discount everyday</span><br>Office Outfit</h4>
                                <a asp-controller="Home" asp-action="Category" class="primary-button">Shop Now</a>
                            </div>
                            <a asp-controller="Home" asp-action="Category" class="over-link"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="brands">
    <div class="container">
        <div class="wrapper flexitem">
            <div class="item">
                <a href="#">
                    <img src="/images/logo/dolcegabbana-logo.png" alt="">
                </a>          
            </div>            
            <div class="item">
                <a href="#">  
                    <img src="/images/logo/icons8-adidas-trefoil-50.png" alt="">
                </a>          
            </div>            
            <div class="item">
                <a href="#">  
                    <img src="/images/logo/icons8-air-jordan-50.png" alt="">
                </a>          
            </div>            
            <div class="item">
                <a href="#">  
                    <img src="/images/logo/icons8-gucci-logo-50.png" alt="">
                </a>          
            </div>            
            <div class="item">
                <a href="#">  
                    <img src="/images/logo/icons8-nike-50.png" alt="">
                </a>          
            </div>            
            <div class="item">
                <a href="#">  
                    <img src="/images/logo/zara-logo.png" alt="">
                </a>
            </div>
        </div>
    </div>
</div>
