@model Category

<form method="post">
    <input hidden asp-for="Id" />
    <div class="border p-3 mt-4">
        <div class="row">
            <h2>Edit Category</h2>
            <hr />
        </div>
        <div class="form-group">
            <label asp-for="Name" class="form-label mt-4"></label>
            <input asp-for="Name" class="form-control">
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Description" class="form-label mt-4"></label>
            <textarea asp-for="Description" class="form-control" rows="5"></textarea>
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="DisplayOrder" class="form-label mt-4"></label>
            <input asp-for="DisplayOrder" class="form-control">
            <span asp-validation-for="DisplayOrder" class="text-danger"></span>
        </div>
        <div class="row mt-4 col-md-6">
            <div class="col-6">
                <button type="submit" class="btn btn-outline-success form-control">Update</button>
            </div>
            <div class="col-6">
                <a asp-controller="Category" asp-action="Index" class="btn btn-outline-secondary form-control">
                Back to list
            </a>
            </div>
        </div>
    </div>
</form>

@section Scripts {
    @{
    <partial name="_ValidationScriptsPartial"/>
    }
}