@model Login

<form method="post" asp-route-ReturnUrl="@Context.Request.Query["ReturnUrl"]">
    <div class="border p-3 mt-4 shadow">
        <div class="row">
            <div class="col-6">
                <h2>Login</h2>
            </div>
            <div class="col-6 text-end">
                <div>Not yet registered? <a asp-action="Register" asp-controller="Account" class="text-info">Register</a></div>
            </div>
            <hr />
        </div>
        <div class="form-group">
            <label asp-for="Email" class="form-label mt-4"></label>
            <input asp-for="Email" class="form-control">
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Password" class="form-label mt-4"></label>
            <input asp-for="Password" class="form-control">
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>
        <div class="row mt-4 col-md-6">
            <div class="col-6">
                <button type="submit" class="btn btn-success form-control">Login</button>
            </div>
            <div class="col-6">
                <a asp-area="Customer" asp-controller="Home" asp-action="Index" class="btn btn-secondary form-control">
                    Back to Home
                </a>
            </div>
        </div>
    </div>
</form>

@section Scripts {
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}